prog
.vscode
.DS_Store
.idea
hai7
out_dir/imagine_1.bmp
out_dir/drt_statistica.txt
out_dir/imagine_1.bmp_statistica.txt
out_dir/imagine_2.bmp
out_dir/imagine_2.bmp_statistica.txt
out_dir/imagine_3.bmp
out_dir/imagine_3.bmp_statistica.txt
out_dir/imagine_4.bmp
out_dir/imagine_4.bmp_statistica.txt
out_dir/nonim
out_dir/nonim_statistica.txt
